@import "../App.scss";

.Navbar {
   position: absolute;
   top: 0;
   left: 0;
   padding-inline: $section-padding-inline;
   width: 100%;
   height: 100px;
   display: flex;
   flex-direction: row;
   align-items: center;
   display: flex;
   gap: 30px;
   
   a {
      color: white;
      text-decoration: none;
   }
}
